# OS type
if [[ $(uname) == "Darwin" ]]; then
  export OS_TYPE=osx
else
  export OS_TYPE=linux
fi

# General environment
export ENV=development

# Docker
export DOCKER_ACCOUNT=thebigredgeek
export DOCKER_TAG=$CIRCLE_SHA1
if [ -z "$DOCKER_TAG" ]; then
  export DOCKER_TAG=latest
fi

# Common Configurations
export JWT_SECRET=9jg93jo9p3rj3oijqjfoqpk
export DEBUG=client:*,graphql:*

# Common services
export REDIS_HOST=localhost
export REDIS_PORT=6380

export MONGO_HOST=localhost
export MONGO_PORT=27018

export POSTGRES_HOST=localhost
export POSTGRES_PORT=5433
export POSTGRES_PASSWORD=password
export POSTGRES_USER=user
export POSTGRES_DB=db

# API service
export GRAPHQL_SERVER_PORT=8001
export GRAPHQL_WEBPACK_PORT=8081
export GRAPHQL_MONGO_DB=api

# Frontend service
export CLIENT_SERVER_PORT=8002
export CLIENT_WEBPACK_PORT=8082
export GRAPHQL_FQDN=http://localhost:$GRAPHQL_SERVER_PORT
export GRAPHQL_ENDPOINT=http://localhost:$GRAPHQL_SERVER_PORT/graphql

# Extras
export STATIC_PORT=8010
