# OS type
if [[ $(uname) == "Darwin" ]]; then
  export OS_TYPE=osx
else
  export OS_TYPE=linux
fi

# General environment
export ENV=development

# Docker
export DOCKER_ACCOUNT=thebigredgeek
export DOCKER_TAG=$CIRCLE_SHA1
if [ -z "$DOCKER_TAG" ]; then
  export DOCKER_TAG=test
fi

# Common Configurations
export JWT_SECRET=9jg93jo9p3rj3oijqjfoqpk

# Common services
export REDIS_HOST=localhost;
export REDIS_PORT=6380

export MONGO_HOST=localhost
export MONGO_PORT=27018

# API service
export API_SERVER_PORT=8001
export API_WEBPACK_PORT=8081
export API_MONGO_DB=api

# Websocket service
export WEBSOCKET_SERVER_PORT=8002
export WEBSOCKET_WEBPACK_PORT=8082

# Frontend service
export FRONTEND_SERVER_PORT=8003
export FRONTEND_WEBPACK_PORT=8083
